@import "../../../../styles.scss";

/*
PAGE DESIGN
*/

$container-width: 300px;

@media (max-width: $container-width) {
  .categories,
  .selection {
    width: 100%;
  }
}

.categories {
  min-width: $container-width;
  @include low-margin;
  @include float-left;
}

.exercises {
  @include low-margin;
  @include float-left;
  @include block;
}

.selection {
  min-width: $container-width;
  width: 100%;
  @include float-left;
}

/*
ELEMENTS
*/

#block {
  @include block;
}

.buttons {
  margin-left: 0;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.positionbuttons {
  margin: 6px;
}

.text-width {
  width: 376px;
}

#errormessage {
  width: 245px;
}

/*
STICKY
*/

.fixedButtons {
  display: grid;
  overflow: visible;
  z-index: 999;
  position: fixed;
  bottom: 40px;
  right: 40px;
}
