<div *ngIf="exercises">
   <div class="fixedButtons-rightbottom">
      <button class="control-buttons-gray smallToBottom" (click)="scroll('overviewtraining')" mat-mini-fab>
         <mat-icon>home</mat-icon>
      </button>
      <button class="control-buttons-gray" (click)="scroll('createtraining')" mat-mini-fab>
         <mat-icon>menu</mat-icon>
      </button>
   </div>
   <div class="content">
      <div class="tab">
         <div class="enormeToBottom" *ngIf="!trainings">
            <p class="smallToBottom">Can't find any trainings</p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
         </div>
      </div>
      <div class="selection" *ngIf="trainings">
         <div class="tab" #overviewtraining>
            <h2> Overview Training</h2>
            <div class="flow-root" *ngIf="trainings.length>0">
               <div *ngFor="let training of trainings.slice(0, displayedTrainings)">
                  <mat-card class="indenting smallToBottom card-costum example-card"
                     [style.background-color]="getStatusColorValue(training)" (click)="viewTraining(training)">
                     <mat-card-header>
                        <mat-card-title>{{ showDatestring(training.date) }}</mat-card-title>
                     </mat-card-header>
                  </mat-card>
               </div>
            </div>
            <div class="indenting">
               <button class="smallToRight" type="button" (click)="showMoreTrainings()"
                  [disabled]="!moreTrainingsThanDisplayed()" mat-raised-button>Show
                  more</button>
               <button type="button" (click)="showLessTrainings()"
                  [disabled]="this.trainings.slice(0, displayedTrainings).length<=10" mat-raised-button>Show
                  less</button>
            </div>
            <div class="gray" *ngIf="trainings.length==0">
               <p>No trainings available</p>
            </div>
         </div>
         <div #createexercise class="tab">
            <h2>Create Exercise</h2>
            <div class="text-container">
               <form [formGroup]="exerciseCreateForm" class="inline example-form">
                  <mat-form-field>
                     <input matInput placeholder="exercise name" name="exercisename" formControlName="name">
                  </mat-form-field>
                  <mat-form-field>
                     <mat-label>Choose pattern</mat-label>
                     <mat-select (selectionChange)="setExerciseCategory($event)">
                        <mat-option *ngFor="let patternString of patterns" [value]="patternString">
                           {{patternString}}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
               </form>
               <button class="indenting" (click)="saveExercise();" mat-stroked-button>Insert</button>
            </div>
         </div>
         <div class="tab" *ngIf="exercisesToInsert.length==0" #deleteexercise>
            <h2>Delete Exercise</h2>
            <div class="text-container">
               <form class="inline example-form">
                  <mat-form-field>
                     <mat-label>Choose pattern</mat-label>
                     <mat-select (selectionChange)="selectExerciseToDetele($event)">
                        <mat-option *ngFor="let exercise of exercises" [value]="exercise">
                           {{exercise.name}}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
               </form>
               <button class="indenting" (click)="deleteExercise();" mat-stroked-button>Delete</button>
            </div>
         </div>
         <div class="tab" #createtraining>
            <h2>Create Training</h2>
            <div class="gray" *ngIf="exercises.length==0">
               <p>No exercises available</p>
            </div>
            <div class="categories largeToBottom" *ngIf="exercises.length>0">
               <div *ngFor="let category of selectDistinctExerciseCategories()">
                  <p>{{ category }}</p>
                  <div *ngFor="let exercise of exercises">
                     <div class="indenting" *ngIf="exercise['category'] == category">
                        <mat-checkbox [checked]="exercise.checked" (change)="toggleCheckboxEvent(exercise, $event)">
                           {{ exercise['name'] }}
                        </mat-checkbox>
                     </div>
                  </div>
               </div>
            </div>
            <div class="exercises" *ngIf="exercisesToInsert">
               <div>
                  <button class="smallToRight" type="button" mat-raised-button (click)="createTraining()"
                     [disabled]="!formIsValid()">Create training</button>
                  <button type="button" mat-raised-button (click)="resetForm()" color="warn"
                     [disabled]="exercisesToInsert.length==0">Reset</button>
               </div>
               <div class="gray" id="errormessage" *ngIf="exercises.length>0 && exercisesToInsert.length==0">
                  <mat-form-field>
                     <mat-label>Choose workout template</mat-label>
                     <mat-select (selectionChange)="selectTraining($event)">
                        <mat-option *ngFor="let training of trainings" [value]="training">
                           {{ training.date }}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                     <mat-label>Choose workout mode</mat-label>
                     <mat-select (selectionChange)="selectMode($event)">
                        <mat-option *ngFor="let mode of sessionMode" [value]="mode">
                           {{ mode }}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
               </div>
               <div *ngIf="exercisesToInsert.length!=0">
                  <h2 class="largeToBottom">Workout</h2>
               </div>
               <div class="largeToBottom" *ngIf="exercisesToInsert.length!=0">
                  <h2>Description</h2>
                  <mat-form-field class="text-width example-full-width">
                     <textarea matInput placeholder="Leave a comment" [(ngModel)]="trainingDescription"></textarea>
                  </mat-form-field>
                  <h2>Date</h2>
                  <mat-form-field class="text-width">
                     <input matInput (dateChange)="setTrainingsDate('change', $event)" [matDatepicker]="picker"
                        placeholder="Choose a date">
                     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                     <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
               </div>
               <div class="block" *ngFor="let exercise of exercisesToInsert; let i=index">
                  <div *ngIf="!compareExercisetoElementBefore(exercise, i)">
                     <p>{{ exercise['name'] }}</p>
                     <button class="buttons" (click)="toggleCheckboxEvent(exercise, {checked : true})" mat-mini-fab
                        color="primary"> + </button>
                     <button class="buttons" (click)="removeElementFromForm(exercise, i)" mat-mini-fab color="primary">
                        - </button>
                  </div>
                  <div>
                     <div *ngIf="hasPattern(exercise, 'weightpattern');">
                        <form class="example-form" [formGroup]="getFormGroup(i)">
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Sätze" formControlName="records">
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Wiederholungen" formControlName="repetitions">
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Gewicht" formControlName="weight">
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Einheit" formControlName="unit" value="kg">
                           </mat-form-field>
                           <button class="positionbuttons" (click)="switchPosition('up',i)" mat-stroked-button
                              color="primary">Up</button>
                           <button class="positionbuttons" (click)="switchPosition('down',i)" mat-stroked-button
                              color="primary">Down</button>
                        </form>
                     </div>
                     <div *ngIf="hasPattern(exercise, 'conditionalpattern1d');">
                        <form class="example-form" [formGroup]="getFormGroup(i)">
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Anzahl" formControlName="records">
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Dauer" formControlName="repetitions">
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Einheit" formControlName="unit" value="s">
                           </mat-form-field>
                           <button class="positionbuttons" (click)="switchPosition('up',i)" mat-stroked-button
                              color="primary">Up</button>
                           <button class="positionbuttons" (click)="switchPosition('down',i)" mat-stroked-button
                              color="primary">Down</button>
                        </form>
                     </div>
                     <div *ngIf="hasPattern(exercise, 'conditionalpattern2d');">
                        <form class="example-form" [formGroup]="getFormGroup(i)">
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Dauer" formControlName="period">
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Einheit" formControlName="unitperiod" value="min">
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Geschwindigkeit" formControlName="speed">
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Einheit" formControlName="unitspeed" value="km/h">
                           </mat-form-field>
                           <button class="positionbuttons" (click)="switchPosition('up',i)" mat-stroked-button
                              color="primary">Up</button>
                           <button class="positionbuttons" (click)="switchPosition('down',i)" mat-stroked-button
                              color="primary">Down</button>
                        </form>
                     </div>
                     <div *ngIf="hasPattern(exercise, 'countablepattern');">
                        <form class="example-form" [formGroup]="getFormGroup(i)">
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Sätze" formControlName="records">
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Wiederholungen" formControlName="repetitions">
                           </mat-form-field>
                           <button class="positionbuttons" (click)="switchPosition('up',i)" mat-stroked-button
                              color="primary">Up</button>
                           <button class="positionbuttons" (click)="switchPosition('down',i)" mat-stroked-button
                              color="primary">Down</button>
                        </form>
                     </div>
                     <div *ngIf="hasPattern(exercise, 'freepattern');">
                        <form class="example-form" [formGroup]="getFormGroup(i)">
                           <mat-form-field class="example-full-width">
                              <input matInput placeholder="Einheit" formControlName="text">
                           </mat-form-field>
                           <button class="positionbuttons" (click)="switchPosition('up',i)" mat-stroked-button
                              color="primary">Up</button>
                           <button class="positionbuttons" (click)="switchPosition('down',i)" mat-stroked-button
                              color="primary">Down</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>