<div *ngIf="exercises">
  <div class="fixedButtons-rightbottom">
    <button class="control-buttons-gray smallToBottom" (click)="scroll('overviewTraining')" mat-mini-fab>
      <mat-icon>home</mat-icon>
    </button>
    <button class="control-buttons-gray" (click)="scroll('generateTraining')" mat-mini-fab>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="content" *ngIf="trainings">
    <div class="selection">
      <div class="notifications" *ngIf="trainings.length == 0">
        No trainings created!
      </div>
      <div class="notifications" *ngIf="exercises.length == 0">
        No exercise created! Can't create training without exercises...
      </div>
      <div class="tab" *ngIf="trainings.length > 0" #overviewTraining>
        <h2>Overview Training</h2>
        <div class="flow-root" *ngIf="trainings.length > 0">
          <div *ngFor="let training of trainings.slice(0, displayableTrainings)">
            <mat-card class="indenting smallToBottom basic-block-advance card-costum example-card"
              [style.border-color]="setBorderColor(training)" (click)="selectTraining(training)">
              <mat-card-header>
                <mat-card-title>{{
                  toLocaleDateString(training.date)
                }}</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
        <div class="indenting" *ngIf="trainings.length > 0">
          <button class="smallToRight" type="button" (click)="showMoreTrainings()"
            [disabled]="!moreTrainingsThanDisplayed()" mat-raised-button>
            Show more
          </button>
          <button type="button" (click)="showLessTrainings()" [disabled]="
              trainings.slice(0, displayableTrainings).length <= 10
            " mat-raised-button>
            Show less
          </button>
        </div>
      </div>
      <div class="tab" #generateTraining>
        <h2>Create Training</h2>
        <div class="categories largeToBottom" *ngIf="exercises.length > 0">
          <div *ngFor="
              let category of exerciseService.retrieveDistinctCategoriesFromExercises(
                exercises
              )
            ">
            <p>{{ exerciseService.retrievePatternValueFromPattern(category) }}</p>
            <div *ngFor="let exercise of exercises">
              <div class="indenting" *ngIf="exercise['category'] == category">
                <mat-checkbox [checked]="exercise.checked" (change)="toggleCheckbox(exercise, $event)">
                  {{ exercise['name'] }}
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
        <div class="exercises" *ngIf="exerciseGroup">
          <div>
            <button class="smallToRight" type="button" mat-raised-button (click)="createTraining()"
              [disabled]="!formIsValid()">
              Create training
            </button>
            <button type="button" mat-raised-button (click)="resetForm()" color="warn"
              [disabled]="exerciseGroup.length == 0">
              Reset
            </button>
          </div>
          <div id="errormessage" *ngIf="exercises.length > 0 && exerciseGroup.length == 0">
            <mat-form-field>
              <mat-label>Workout templates</mat-label>
              <mat-select (selectionChange)="selectTrainingTemplate($event)">
                <mat-option *ngFor="let training of trainings" [value]="training">
                  {{ training.date }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Workout session</mat-label>
              <mat-select (selectionChange)="selectTrainingSession($event)">
                <mat-option *ngFor="let mode of trainingSessions" [value]="mode">
                  {{ mode }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Workout types</mat-label>
              <mat-select (selectionChange)="selectTrainingType($event)">
                <mat-option *ngFor="let type of trainingTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="exerciseGroup.length != 0">
            <h2 class="largeToBottom">Workout</h2>
          </div>
          <div class="largeToBottom" *ngIf="exerciseGroup.length != 0">
            <h2>Description</h2>
            <mat-form-field class="text-width example-full-width">
              <textarea matInput placeholder="Leave a comment" [(ngModel)]="currentTrainingDescription"></textarea>
            </mat-form-field>
            <h2>Date</h2>
            <mat-form-field class="text-width">
              <input matInput (dateChange)="selectTrainingDate($event)" [matDatepicker]="picker"
                placeholder="Choose a date" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="list" (cdkDropListDropped)="drop($event)" cdkDropList>
            <div class="block" *ngFor="let group of exerciseGroup; let i = index" cdkDrag>
              <div *ngIf="!isSameAsPreviousExercise(group.exercise, i)">
                <p>{{ group.exercise['name'] }}</p>
                <button class="buttons" (click)="executeExerciseGroupAction(ExerciseGroupAction.ADDEND, group)" mat-raised-button
                  color="primary">
                  Add new exercise to bottom
                </button>
                <button class="buttons" (click)="executeExerciseGroupAction(ExerciseGroupAction.ADD, group, i)"
                  mat-raised-button color="primary">
                  Add additional exercise
                </button>
                <button class="buttons" (click)="executeExerciseGroupAction(ExerciseGroupAction.REMOVE, group, i)" mat-raised-button
                  color="primary">
                  Remove exercise
                </button>
              </div>
              <div>
                <div *ngIf="exerciseHasPattern(group.exercise, Pattern.WEIGHT)">
                  <form class="example-form" [formGroup]="group.formGroup">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Record" formControlName="records" />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Repetitions" formControlName="repetitions" />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Weight" formControlName="weight" />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Unit" formControlName="unit" value="kg" />
                    </mat-form-field>
                  </form>
                </div>
                <div *ngIf="exerciseHasPattern(group.exercise, Pattern.CONDITIONAL1)">
                  <form class="example-form" [formGroup]="group.formGroup">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Count" formControlName="records" />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Duration" formControlName="repetitions" />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Unit" formControlName="unit" value="s" />
                    </mat-form-field>
                  </form>
                </div>
                <div *ngIf="exerciseHasPattern(group.exercise, Pattern.CONDITIONAL2)">
                  <form class="example-form" [formGroup]="group.formGroup">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Duration" formControlName="period" />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Unit" formControlName="unitPeriod" value="min" />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Speed" formControlName="speed" />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Unit" formControlName="unitSpeed" value="km/h" />
                    </mat-form-field>
                  </form>
                </div>
                <div *ngIf="exerciseHasPattern(group.exercise, Pattern.COUNTABLE)">
                  <form class="example-form" [formGroup]="group.formGroup">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Record" formControlName="records" />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Repetitions" formControlName="repetitions" />
                    </mat-form-field>
                  </form>
                </div>
                <div *ngIf="exerciseHasPattern(group.exercise, Pattern.FREE)">
                  <form class="example-form" [formGroup]="group.formGroup">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Unit" formControlName="text" />
                    </mat-form-field>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>