<div class="component-container" *ngIf="tasks">
    <div class="project" *ngFor="let project of this.retrieveDistinctTasks(tasks)">
        <div class="name">
            <div>{{ project }}</div>
        </div>
        <div class="tasksWrapper" cdkDropList [cdkDropListConnectedTo]="this.retrieveDistinctTasks(tasks)"
            id="{{project}}" [cdkDropListData]="retrieveTasksForProject(project)" (cdkDropListDropped)="drop($event)">
            <div class="tasks" [cdkDragData]="task" *ngFor="let task of retrieveTasksForProject(project);" cdkDrag>
                <div class="task">
                    <div class="description">{{ task.shortdescr }}</div>
                    <div class="time"></div>
                    <div class="task-hided">
                        <button title="Continue" mat-button>
                            <mat-icon>play_arrow</mat-icon>
                        </button>
                        <button title="Stop" mat-button>
                            <mat-icon>close</mat-icon>
                        </button>
                        <button title="Archive" mat-button>
                            <mat-icon>move_to_inbox</mat-icon>
                        </button>
                        <button title="Delete" (click)="removeTask(task)" mat-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>