<div class="component-container" *ngIf="tasks">
    <div class="project" *ngFor="let project of retrieveDistinctProjectNames(tasks)">
        <div class="name">
            <div>{{ project }}</div>
        </div>
        <div class="tasksWrapper" cdkDropList [cdkDropListConnectedTo]="retrieveDistinctProjectNames(tasks)"
            id="{{project}}" [cdkDropListData]="retrieveTasksWithProject(project)"
            (cdkDropListDropped)="dropTaskInGroup($event)">
            <div class="timer" *ngIf="timeTaskService.runningTimeTask && isProjectGroupOfRunningTask(project)">
                <countup-timer [countUpTimerConfig]="testConfig"></countup-timer>
            </div>
            <div class="tasks" [cdkDragData]="task" *ngFor="let task of retrieveTasksWithProject(project);" cdkDrag>
                <div [ngClass]="['task', timeTaskService.runningTimeTask && isRunningTask(task) ? 'running' : '']">
                    <div class=" description">{{ task.shortDescription }}</div>
                    <div class="time"></div>
                    <div class="task-hided">
                        <button title="Continue" (click)="startTimeTaskFeature(task)" mat-button>
                            <mat-icon>play_arrow</mat-icon>
                        </button>
                        <button title="Stop" (click)="stopTimeTaskFeature()" mat-button>
                            <mat-icon>close</mat-icon>
                        </button>
                        <button title="Archive" (click)="hideTask(task)" mat-button>
                            <mat-icon>move_to_inbox</mat-icon>
                        </button>
                        <button title="Duplicate" (click)="duplicateTask(task)" mat-button>
                            <mat-icon>filter_none</mat-icon>
                        </button>
                        <button title="Delete" (click)="removeTask(task)" mat-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>