@mixin basic-block {
  padding: 17px 30px 17px 30px;
  background-color: #4d4a4a;
  font-size: 18px;
}

.notifications {
  @include basic-block;
  border-left: 5px solid #c23b3b;
  padding: 55px 30px 55px 30px;
}

.header {
  @include basic-block;
  border-left: 5px solid #3b63c2;
}

.stat {
  @include basic-block;
  border-left: 5px solid #b9c23b;
}

.category {
  @include basic-block;
  border-left: 5px solid #c23ba0;
}

.calc {
  @include basic-block;
  border-left: 5px solid #3bc242;
}

.flex {
  display: flex;
}

.column-1 {
  flex-basis: 25%;
}

.column-2 {
  flex-basis: 35%;
}

.column-3 {
  flex-basis: 40%;
}
