<mat-tab-group>
  <!-- ###################### TODAY TAB ###################### -->
  <mat-tab label="Tasks">
    <div class="content">
      <div class="block">
        <div class="notifications" *ngIf="tasks && tasksHided && tasks.length === tasksHided.length">
          Can't find any tasks!
        </div>
      </div>
      <div class="input-bottom" [ngClass]="showCreationField ? '' : 'hidden'">
        <mat-form-field class="example-form-field">
          <mat-label>Let's do it!</mat-label>
          <input matInput type="text" (keyup.enter)="createTaskFromCreationField($event)" #creationField />
        </mat-form-field>
      </div>
      <div class="chips">
        <mat-chip-list aria-label="View selection">
          <mat-chip (click)="selectView(VIEW.PROJECTS)" selected>Projects</mat-chip>
          <mat-chip (click)="selectView(VIEW.PINS)" selected>Pins</mat-chip>
        </mat-chip-list>
      </div>
      <div *ngIf="viewSelected === VIEW.PROJECTS">
        <app-project-view [tasks]="tasks" [settings]="settings" [tasksRunning]="tasksRunning"
          (reload)="loadFromServices()">
        </app-project-view>
      </div>
      <div *ngIf="viewSelected === VIEW.PINS">
        <app-pin-view [tasks]="tasks" [settings]="settings" [tasksRunning]="tasksRunning" (reload)="loadFromServices()">
        </app-pin-view>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>