@import "../../../../styles.scss";

table {
  width: 100%;
}

mat-card {
  display: block;
  overflow: hidden;
  margin-bottom: 3%;
}

mat-card:hover {
  background-color: #464545;
  @include cursor-pointer;
}

#createNewTask {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
