@import "../../../../styles.scss";

mat-card {
  @include block;
  @extend .indentingFromBottom;
}

textarea {
  @include height300px;
}

#createNewTask {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.hidden {
  display: none;
}
