<div class="content">
  <div class="insert"></div>
  <div>
    <button id="changeEventButton" (click)="openInsertTaskDialog()" mat-fab color="primary">+</button>
  </div>
  <div *ngIf="tasks">
    <div *ngIf="tasks.length==0" style="color: rgb(184, 113, 113); margin: 2%;">
      <p>No Tasks available</p>
    </div>
    <div *ngFor="let task of tasks; let i=index">
      <div *ngIf="task==selectedTask" class="changeField" style="margin: 2%; display: block; overflow: auto;">
        <form class="example-form">
          <mat-form-field class="example-full-width" style="margin-right: 2%;">
            <input matInput #message maxlength="50" placeholder="titel" name="shortdescr"[(ngModel)]="selectedTask.shortdescr">
            <mat-hint>{{ message.value.length }} / 50</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width" style="margin-right: 2%; min-width: 500px;">
            <input matInput placeholder="description" name="longdescr" [(ngModel)]="selectedTask.longdescr">
          </mat-form-field>
          <mat-form-field>
            <input matInput (dateChange)="addDateValuesToSelectedTask('change', $event)" [matDatepicker]="picker"
              placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button (click)="saveAllTasks()" style="float:right" mat-button>Save all</button>
          <button (click)="saveTask(selectedTask)" style="float:right" mat-button>Save task</button>
        </form>
      </div>
      <mat-card [style.background-color]="task==selectedTask ? '#607D8B' : '#424242'" (click)="selectTask(task);" style="margin: 2%; display: block; overflow: auto;" class="example-card">
        <mat-card-header style="float:left;">
          <mat-card-title>
            {{ task.shortdescr }}
            <div style="margin-top: 20px; font-size: 12px;">
              {{ getUTCStringFromTask(task) }}
            </div>
          </mat-card-title>
          <mat-card-subtitle>{{ task.longdescr }}</mat-card-subtitle>
        </mat-card-header>
        <button (click)="removeTask(task)" style="float:right" mat-button>Delete</button>
        <button (click)="changeTasksOrder(tasks, 'unten', i)" style="float:right" mat-button>Unten</button>
        <button (click)="changeTasksOrder(tasks, 'oben', i)" style="float:right" mat-button>Oben</button>
      </mat-card>
    </div>
  </div>
</div>