

<mat-tab-group>
   <!-- ###################### TODAY TAB ###################### -->
   <mat-tab label="Today">
      <div class="content">
         <div style="margin: 2%;" class="insert">
            <div>
               <button id="changeEventButton" (click)="openInsertDialog()" mat-flat-button color="primary"
                  style="margin-right: 1%;">Start</button>
               <button id="changeEventButton" (click)="finishTimer()" mat-flat-button color="primary">Finish</button>
            </div>
         </div>
         <div class="show" style="display: block; width: 100%;">
            <div style="margin: 2%; font-family: 'Indie Flower', cursive; font-size: 30px; ">
               <countup-timer style="font-size: 42px;" [countUpTimerConfig]="testConfig">
               </countup-timer>
               <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
               <div>
                  <p>
                     <span>Time overall: </span>
                     <span [style.color]="this.stringDistributorService.COLORS.WHITE"> {{ millisecondsToTimestring(calculateOverallTime(_timeElements)) }}</span>
                  </p>
                  <p>
                     <span>Time today: </span>
                     <span [style.color]="this.stringDistributorService.COLORS.RED"> {{ millisecondsToTimestring(calculateTodayTime(timeElements)) }}</span>
                  </p>
                  <p>
                     <span>Week: </span>
                     <span [style.color]="this.stringDistributorService.COLORS.WHITE">{{ this.utilityService.formatToTwoDigits(calculateWeekNumber()) }}</span>
                  </p>
               </div>
            </div>
            <div *ngIf="timeElements">
               <div *ngIf="timeElements.length==0" style="color: #47556c; margin: 2%;">
                  <p>No TimeTask available</p>
               </div>
               <div *ngFor="let timeElement of timeElements">
                  <div *ngIf="selectedTimeElement==timeElement" class="changeField" style="margin: 2%; display: block; overflow: auto;">
                     <form class="example-form">
                        <mat-form-field class="example-full-width" style="margin-right: 2%;">
                           <input matInput #message maxlength="50" placeholder="titel" name="shortdescr"
                           [(ngModel)]="selectedTimeElement.shortdescr">
                           <mat-hint>{{ message.value.length }} / 50</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" style="margin-right: 2%; min-width: 500px;">
                           <textarea matInput placeholder="description" name="longdescr"
                           [(ngModel)]="selectedTimeElement.longdescr" (ngModelChange)="replaceWithShortcut(selectedTimeElement);"></textarea>
                        </mat-form-field>
                        <div style="display: flex; justify-content: flex-end; float: right;">
                           <button (click)="changeStartDate(selectedTimeElement)" style="float:right" mat-button color="accent">Start
                           </button>
                           <button (click)="changeEndDate(selectedTimeElement)" style="float:right" mat-button color="accent">End
                           </button>
                           <button (click)="saveTimeElement(selectedTimeElement)" style="float:right" mat-button>Save
                           </button>
                           <button (click)="saveAllTimeElements()" style="float:right" mat-button>Save all
                           </button>
                        </div>
                     </form>
                  </div>
                  <mat-card (click)="selectTimeElement(timeElement);" style="margin: 2%; display: block; overflow: auto;" class="example-card">
                  <div style="width: 30px; float: inline-start; height: 30px;" [style.background-color]="getBackgroundColorValue(timeElement)"></div>
                  <div style="display: inline-block;">
                     <mat-card-header style="float: left;">
                        <mat-card-title>
                           {{ timeElement.shortdescr }}
                     <div *ngIf="!timeElement.enddate" [style.color]="'#ffffff'" style="margin-top: 20px; font-size: 12px;">
                        No measurement enddate available...
                     </div>
                     <div style="margin-top: 20px; font-size: 12px;">
                        <div *ngIf="timeElement.enddate" style="display: inline;">
                           {{ timeElementToTimestring(timeElement) }} >>
                        </div>
                        {{ formatDateToString(timeElement.startdate, "Start")}}
                        <div *ngIf="timeElement.enddate" style="display: inline;">
                           , {{formatDateToString(timeElement.enddate, "End") }}
                        </div>
                     </div>
                  </mat-card-title>
                  <mat-card-subtitle style="margin-top: 3px;" *ngIf="timeElement.longdescr && timeElement.longdescr.length>0">
                     <ul *ngFor="let point of this.utilityService.splitToBulletPoints(timeElement.longdescr);">
                        <li>{{ point }}</li>
                     </ul>
                  </mat-card-subtitle>
                  </mat-card-header>
                  </div>
                  <div style="display: flex; justify-content: flex-end; float: right;">
                     <button (click)="continueTimeElement(timeElement);" mat-button>Continue</button>
                     <button (click)="removeTimeElement(timeElement)" mat-button>Delete</button>
                  </div>
               </mat-card>
            </div>
         </div>
      </div>
      </div>
   </mat-tab>
   <!-- ###################### HISTORY TAB ###################### -->
   <mat-tab label="History">
      <div class="content">
         <mat-form-field>
            <mat-label>Recorded dates</mat-label>
            <mat-select (selectionChange)="selectDate($event)">
              <mat-option *ngFor="let date of selectDistinctDates();" [value]="date">
                {{ date }}
              </mat-option>
            </mat-select>
         </mat-form-field>
         <div *ngIf="selectedHistoryElements">
             <div *ngIf="selectedHistoryElements.length > 0">
                  <p>
                     Time: <span style="color: coral;">{{ millisecondsToTimestring(calculateTodayTime(selectedHistoryElements)) }}</span>
                  </p>
               </div>
            <div *ngFor="let timeElement of selectedHistoryElements">
                  <mat-card [style.background-color]="getBackgroundColorValue(timeElement)" style="margin: 2%; display: block; overflow: auto;"
                  class="example-card">
                  <mat-card-header style="float:left;">
                     <mat-card-title>
                        {{ timeElement.shortdescr }}
                           <div *ngIf="!timeElement.enddate" [style.color]="'#ffffff'" style="margin-top: 20px; font-size: 12px;">
                     No measurement enddate available...
                  </div>
                  <div style="margin-top: 20px; font-size: 12px;">
                     <div *ngIf="timeElement.enddate" style="display: inline;">
                        {{ timeElementToTimestring(timeElement) }} >>
                     </div>
                     {{ formatDateToString(timeElement.startdate, "Start")}}
                     <div *ngIf="timeElement.enddate" style="display: inline;">
                        , {{formatDateToString(timeElement.enddate, "End") }}
                     </div>
                  </div>
               </mat-card-title>
               <mat-card-subtitle *ngIf="timeElement.longdescr.length>0">
                  <ul *ngFor="let point of this.utilityService.splitToBulletPoints(timeElement.longdescr);">
                     <li>{{ point }}</li>
                  </ul>
               </mat-card-subtitle>
               </mat-card-header>
               </mat-card>
            </div> 
          </div>
      </div>
   </mat-tab>
</mat-tab-group>


