@import "../../../../styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

mat-card:hover {
  background-color: #464545;
  cursor: pointer;
}

.material-icons {
  vertical-align: sub;
  font-size: 60px;
  @extend .smallToRight;
}
