@import '../../../../../../styles.scss';

mat-card {
  @include block;
  @extend .indentingFromBottom;
  background-color: #303030;
  border-left: 3px solid $main;
  border-top: 3px solid #424242;
  border-bottom: 3px solid #424242;
}

ul {
  list-style-type: none;
}

textarea {
  @include height300px;
}

countup-timer {
  color: red;
}
