<div *ngIf="tasksUnpinned && tasksPinned">
    <div class="fixedButtons-righttop">
        <div class="circle">{{ taskService.countUnsavedTasks(tasks) }}</div>
    </div>
    <div class="fixedButtons-rightbottom">
        <button class="control-buttons-gray smallToBottom" (click)="displayUnpinnedTasks()" mat-mini-fab>
            <mat-icon>reorder</mat-icon>
        </button>
        <button class="control-buttons-gray" title="Create new task" (click)="openInsertTaskDialog()" mat-mini-fab>
            <mat-icon>create</mat-icon>
        </button>
    </div>
    <div class="largeToBottom" *ngIf="tasksPinned.length > 0">
        <h3>Pinned Tasks</h3>
        <div *ngFor="let task of tasksPinned; let i = index">
            <div class="block changeField minorToBottom" *ngIf="task == selectedTask">
                <form class="example-form">
                    <mat-form-field class="example-full-width indentingFromRight">
                        <input #message maxlength="50" placeholder="title" name="shortDescription"
                            [(ngModel)]="selectedTask.shortDescription" matInput />
                        <mat-hint>{{ message.value.length }} / 50</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input (dateChange)="changeDateFromTask($event)" [matDatepicker]="picker"
                            placeholder="Choose a date" matInput />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="example-full-width textarea-container indentingFromTop">
                        <textarea matInput placeholder="description" name="longDescription"
                            [(ngModel)]="selectedTask.longDescription"
                            (ngModelChange)="replaceWithShortcuts(selectedTask)"></textarea>
                    </mat-form-field>
                    <div class="inlineButtons">
                        <button (click)="saveTask(selectedTask)" mat-button>
                            Save task
                        </button>
                    </div>
                </form>
            </div>
            <mat-card class="example-card">
                <div *ngIf="settings && settings.task.showStatusColor.value">
                    <div class="card-status" [style.background-color]="setBorderColor(task)"></div>
                </div>
                <div class="inlineblock">
                    <mat-card-header>
                        <mat-card-title>
                            {{ task.shortDescription }}
                            <div *ngIf="
                                timeTaskService.runningTimeTask &&
                                task.shortDescription === timeTaskService.runningTimeTask.title
                              ">
                                <countup-timer [countUpTimerConfig]="testConfig"></countup-timer>
                            </div>
                            <div *ngIf="settings && settings.task.showCreationDate.value">
                                <div class="smallToTop fontSize12">
                                    {{ taskService.extractUtcStringFromTask(task) }}
                                    {{
                                  retrieveDeadlineMessageFromDate(task.date)
                                }}
                                </div>
                            </div>
                        </mat-card-title>
                        <mat-card-subtitle *ngIf="task.longDescription && task.longDescription.length > 0">
                            <ul *ngFor="
                                let point of splitWithNewLine(task.longDescription)
                              ">
                                <div *ngIf="
                                  point.length > 0 &&
                                  !point.includes('!') &&
                                  !point.includes('#') &&
                                  !(point == ' ') &&
                                  !point.includes('$')
                                ">
                                    <li>{{ point }}</li>
                                </div>
                                <div *ngIf="point.length == 0">
                                    <br />
                                </div>
                                <div *ngIf="point == ' '">
                                    <hr />
                                </div>
                                <div *ngIf="point.includes('!')" [style.color]="keyService.getColor(Color.ORANGE)">
                                    {{ point }}
                                </div>
                                <div *ngIf="point.includes('$')" [style.color]="keyService.getColor(Color.GREEN)">
                                    {{ point }}
                                </div>
                                <div *ngIf="point.includes('#')" [style.color]="keyService.getColor(Color.WHITE)">
                                    <h3>{{ point }}</h3>
                                </div>
                            </ul>
                        </mat-card-subtitle>
                    </mat-card-header>
                </div>
                <div class="inlineButtons">
                    <p *ngIf="!taskService.isSaved(task)">
                        Not saved
                    </p>
                    <button title="Continue" (click)="startTimeTaskFeature(task)" mat-button>
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                    <button title="Stop" (click)="stopTimeTaskFeature()" mat-button>
                        <mat-icon>close</mat-icon>
                    </button>
                    <button title="Add description" (click)="selectTask(task)" mat-button>
                        <mat-icon>comment</mat-icon>
                    </button>
                    <button title="Unpin" (click)="pinTask(task)" mat-button>
                        <mat-icon>push_pin</mat-icon>
                    </button>
                    <button title="Archive" (click)="hideTask(task)" mat-button>
                        <mat-icon>move_to_inbox</mat-icon>
                    </button>
                    <button title="Duplicate task" (click)="duplicateTask(task)" mat-button>
                        <mat-icon>filter_none</mat-icon>
                    </button>
                    <button title="Delete" (click)="removeTask(task)" mat-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
    <div *ngIf="
                    tasksUnpinned.length > 0 &&
                    (displayUnpinned || tasksPinned.length == 0)
                  ">
        <br />
        <h3>Unpinned Tasks</h3>
        <div *ngFor="let task of tasksUnpinned; let i = index">
            <div class="block changeField minorToBottom" *ngIf="task == selectedTask">
                <form class="example-form">
                    <mat-form-field class="example-full-width indentingFromRight">
                        <input matInput #message maxlength="50" placeholder="titel" name="shortDescription"
                            [(ngModel)]="selectedTask.shortDescription" />
                        <mat-hint>{{ message.value.length }} / 50</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput (dateChange)="changeDateFromTask($event)" [matDatepicker]="picker"
                            placeholder="Choose a date" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="example-full-width textarea-container indentingFromTop">
                        <textarea placeholder="description" name="longDescription"
                            [(ngModel)]="selectedTask.longDescription"
                            (ngModelChange)="replaceWithShortcuts(selectedTask)" matInput></textarea>
                    </mat-form-field>
                    <div class="inlineButtons">
                        <button (click)="saveTask(selectedTask)" mat-button>
                            Save task
                        </button>
                    </div>
                </form>
            </div>
            <mat-card class="example-card">
                <div *ngIf="settings && settings.task.showStatusColor.value">
                    <div class="card-status" [style.background-color]="setBorderColor(task)"></div>
                </div>
                <div class="inlineblock">
                    <mat-card-header>
                        <mat-card-title>
                            {{ task.shortDescription }}
                            <div
                                *ngIf="timeTaskService.runningTimeTask && task.shortDescription === timeTaskService.runningTimeTask.title">
                                <countup-timer [countUpTimerConfig]="testConfig"></countup-timer>
                            </div>
                            <div *ngIf="settings && settings.task.showCreationDate.value">
                                <div class="smallToTop fontSize12">
                                    {{ taskService.extractUtcStringFromTask(task) }}
                                </div>
                            </div>
                        </mat-card-title>
                        <mat-card-subtitle *ngIf="task.longDescription && task.longDescription.length > 0">
                            <ul *ngFor="
                                let point of splitWithNewLine(task.longDescription)
                              ">
                                <div *ngIf="
                                  point.length > 0 &&
                                  !point.includes('!') &&
                                  !point.includes('#') &&
                                  !(point == ' ') &&
                                  !point.includes('$')
                                ">
                                    <li>{{ point }}</li>
                                </div>
                                <div *ngIf="point.length == 0">
                                    <br />
                                </div>
                                <div *ngIf="point == ' '">
                                    <hr />
                                </div>
                                <div *ngIf="point.includes('!')" [style.colors]="keyService.getColor(Color.ORANGE)">
                                    {{ point }}
                                </div>
                                <div *ngIf="point.includes('$')" [style.color]="keyService.getColor(Color.GREEN)">
                                    {{ point }}
                                </div>
                                <div *ngIf="point.includes('#')" [style.color]="keyService.getColor(Color.WHITE)">
                                    <h3>{{ point }}</h3>
                                </div>
                            </ul>
                        </mat-card-subtitle>
                    </mat-card-header>
                </div>
                <div class="inlineButtons">
                    <p *ngIf="!taskService.isSaved(task)">
                        Not saved
                    </p>
                    <button title="Continue" (click)="startTimeTaskFeature(task)" mat-button>
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                    <button title="Stop" (click)="stopTimeTaskFeature()" mat-button>
                        <mat-icon>close</mat-icon>
                    </button>
                    <button title="Add description" (click)="selectTask(task)" mat-button>
                        <mat-icon>comment</mat-icon>
                    </button>
                    <button title="Pin task" (click)="pinTask(task)" mat-button>
                        <mat-icon>push_pin</mat-icon>
                    </button>
                    <button title="Archive task" (click)="hideTask(task)" mat-button>
                        <mat-icon>move_to_inbox</mat-icon>
                    </button>
                    <button title="Duplicate task" (click)="duplicateTask(task)" mat-button>
                        <mat-icon>filter_none</mat-icon>
                    </button>
                    <button title="Delete task" (click)="removeTask(task)" mat-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>