<div class="content">
   <div class="tab">
      <div class="notifications" *ngIf="weights.length==0">
         No weights created!
      </div>
      <h2>Insert weight</h2>
      <div class="text-container indenting">
         <form class="inline example-form" [formGroup]="form">
            <mat-form-field>
               <input matInput placeholder="weight in kg" formControlName="weight">
            </mat-form-field>
         </form>
         <button class="indenting" (click)="saveWeight();" mat-stroked-button>Insert</button>
      </div>
   </div>
   <div class="tab" *ngIf="weights.length>0">
      <h2>Statistics</h2>
      <div class="text-container statistics">
         <h1>{{ getDaysSinceLastWeight() }}</h1>
         <p>days since last measurement</p>
      </div>
      <div class="text-container statistics">
         <h1>{{ weights.length }}</h1>
         <p>measurements</p>
      </div>
      <div class="text-container statistics">
         <h1>{{ calculateBMI() }}</h1>
         <p>BMI result</p>
      </div>
   </div>
   <div class="block" *ngIf="weights.length > 0">
      <ngx-charts-bar-vertical [view]="[900,400]" [results]="graphData" [xAxisLabel]="'x'" [legendTitle]="'Weights'"
         [yAxisLabel]="'y'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
         [yAxis]="true" [gradient]="false">
      </ngx-charts-bar-vertical>
   </div>
   <div class="block">
      <div *ngIf="weights.length>0">
         <h2>Overview</h2>
         <div *ngFor="let weight of weights.slice(0, displayedWeights)">
            <mat-card class="indenting smallToBottom card-costum example-card"
               [style.background-color]="getStatusColorValue(weight)">
               <button class="card-right more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu"
                  mat-icon-button>
                  <mat-icon>more_vert</mat-icon>
               </button>
               <mat-menu #menu="matMenu" xPosition="before">
                  <button (click)="removeWeight(weight)" mat-menu-item>Remove</button>
               </mat-menu>
               <mat-card-header class="card-left">
                  <mat-card-title>
                     {{ weight.value }}
                     <div class="smallToTop fontSize12">
                        {{ weight.date }}
                     </div>
                  </mat-card-title>
               </mat-card-header>
            </mat-card>
         </div>
      </div>
   </div>
   <div class="indenting">
      <button class="smallToRight" type="button" (click)="showMoreWeights()" [disabled]="!moreWeightsThanDisplayed()"
         mat-raised-button>Show
         more</button>
      <button class="smallToRight" type="button" (click)="showLessWeights()"
         [disabled]="this.weights.slice(0, displayedWeights).length<=10" mat-raised-button>Show
         less</button>
   </div>
</div>