@import "../../../../styles.scss";

.side {
  height: 600px;
  float: left;
  box-sizing: border-box;
}

.leftside {
  border-style: solid;
  border-width: thin;
  border-color: aqua;
  width: 30%;
}

.rightside {
  border-style: solid;
  border-width: thin;
  border-color: darkgoldenrod;
  width: 70%;
}
