@import "../../../../styles.scss";

.side {
  float: left;
  box-sizing: border-box;
}

.leftside {
  width: 25%;
  margin-right: 5%;
  height: 900px;
  overflow: hidden;
}

.leftside:hover {
  overflow-y: scroll;
}

.rightside {
  width: 70%;
}

.list-item {
  padding: 6px 4px 6px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item:hover {
  background-color: #3b63c2;
}

.category {
  @extend .tab-m;
  border-left: 5px solid #c2673b;
  background-color: #4d4a4a;

  .top-category {
    padding: 5%;
  }
}
