/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* USER GLOBAL settings */

.content {
  margin: 3%;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0px;
}
