/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// ==================================================================
// USER GLOBAL settings
// ==================================================================

@mixin cursor-pointer {
  cursor: pointer;
}

@mixin float-left {
  float: left;
}

@mixin float-right {
  float: right;
}

@mixin low-margin {
  margin: 2px;
}

@mixin block {
  display: block;
  overflow: hidden;
}

@mixin height300px {
  height: 300px;
}

/*
GENERAL
*/

.content {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 15%;
  margin-right: 15%;
}

/*
MATCARDS
*/

.card-status {
  width: 100%;
  float: inline-start;
  height: 2px;
  margin-bottom: 22px;
}

.card-costum {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  @include float-left;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0px;
}

mat-card:hover {
  background-color: #464545;
  @include cursor-pointer;
}

/*
COLORS
*/

.gray {
  color: #484747;
}

/*
DISTANCE
*/

.indenting {
  margin-left: 2%;
}

.indentingFromRight {
  margin-right: 2%;
}

.indentingFromTop {
  margin-top: 2%;
}

.indentingFromBottom {
  margin-bottom: 2%;
}

.enormeToBottom {
  margin-bottom: 100px;
}

.largeToBottom {
  margin-bottom: 50px;
}

.smallToBottom {
  margin-bottom: 20px;
}

.minorToBottom {
  margin-bottom: 10px;
}

.largeToRight {
  margin-right: 50px;
}

.smallToRight {
  margin-right: 20px;
}

.smallToTop {
  margin-top: 20px;
}

/*
DISPLAY
*/

.flow-root {
  display: flow-root;
}

.inline {
  display: inline;
}

.inlineblock {
  display: inline-block;
}

/*
ELEMENTS
*/

textarea,
.mat-input-element {
  caret-color: white;
}

.block {
  @include block;
}

.tab {
  margin-bottom: 40px;
  @extend .block;
}

.tab-m {
  margin-bottom: 20px;
  @extend .block;
}

.text-container {
  width: 50%;
  @include float-left;
  @include block;
  @extend .indenting;
}

.textarea-container {
  width: 100%;
}

.control-buttons-white {
  background-color: white;
  color: black;
}

.control-buttons-gray {
  background-color: #424242;
  color: white;
}

.circle {
  height: 75px;
  width: 75px;
  background-color: #424242;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 77px;
  font-size: 28px;
  color: #f4f4f4;
}

@mixin basic-block {
  padding: 17px 30px 17px 30px;
  background-color: #4d4a4a;
  font-size: 18px;
}

.basic-block-advance {
  @include basic-block;
  border-left: 5px solid;
}

.notifications {
  @extend .largeToBottom;
  @include basic-block;
  border-left: 5px solid #c23b3b;
  padding: 55px 30px 55px 30px;
}

/*
FONTS
*/

.fontSize12 {
  font-size: 12px;
}

.fontSize50 {
  font-size: 50px;
}

/*
STICKY
*/

.fixedButtons-rightbottom {
  display: grid;
  overflow: visible;
  z-index: 999;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.fixedButtons-righttop {
  display: grid;
  overflow: visible;
  z-index: 999;
  position: fixed;
  top: 150px;
  right: 40px;
}

.input-bottom {
  display: grid;
  overflow: visible;
  z-index: 999;
  background: #aa982e;
  padding: 1% 1% 0 1%;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

/*
INLINE BUTTONS
*/

.inlineButtons {
  display: flex;
  justify-content: flex-end;
  float: right;
}

/*
NGX-CHARTS
*/

::ng-deep .ngx-charts {
  text {
    fill: #fff !important;
  }
}
