/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// ==================================================================
// USER GLOBAL settings
// ==================================================================

@mixin cursor-pointer {
  cursor: pointer;
}

@mixin float-left {
  float: left;
}

@mixin low-margin {
  margin: 2px;
}

@mixin block {
  display: block;
  overflow: hidden;
}

/*
GENERAL
*/

.content {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 15%;
  margin-right: 15%;
}

/*
MATCARDS
*/

.card-status {
  width: 100%;
  float: inline-start;
  height: 4px;
  margin-bottom: 22px;
}

.card-costum {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  float: left;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0px;
}

/*
COLORS
*/

.gray {
  color: #484747;
}

/*
DISTANCE
*/

.indenting {
  margin-left: 2%;
}

.enormeToBottom {
  margin-bottom: 100px;
}

.largeToBottom {
  margin-bottom: 50px;
}

.smallToBottom {
  margin-bottom: 20px;
}

.largeToRight {
  margin-right: 50px;
}

.smallToRight {
  margin-right: 20px;
}

.smallToTop {
  margin-top: 20px;
}

/*
DISPLAY
*/

.flow-root {
  display: flow-root;
}

.inline {
  display: inline;
}

/*
ELEMENTS
*/

.block {
  @include block;
}

.tab {
  margin-bottom: 40px;
  @extend .block;
}

.text-container {
  width: 50%;
  @include low-margin;
  @include float-left;
  @include block;
}

/*
FONTS
*/

.fontSizeTwelve {
  font-size: 12px;
}
