<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>{{"general" | uppercase}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" (click)="unFocusAfterClick()">Home</a>
      <a mat-list-item routerLink="settings" (click)="unFocusAfterClick()">Settings</a>
    </mat-nav-list>
    <div *ngIf="settings && settings.general.showTasksModule.value">
      <br />
      <mat-toolbar>{{"tasks" | uppercase}}</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="tasks" (click)="unFocusAfterClick()">Tasklist</a>
        <a mat-list-item routerLink="timetask" (click)="unFocusAfterClick()">Time Management</a>
      </mat-nav-list>
    </div>
    <div *ngIf="settings && settings.general.showFitnessModule.value">
      <br />
      <mat-toolbar>{{"fitness" | uppercase}}</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="training" (click)="unFocusAfterClick()">Training</a>
        <a mat-list-item routerLink="exercise" (click)="unFocusAfterClick()">Exercise</a>
        <a mat-list-item routerLink="session" (click)="unFocusAfterClick()">Workout Session</a>
        <a mat-list-item routerLink="weight" (click)="unFocusAfterClick()">Weight</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="settings && settings.general.showTitleBar.value">
      <mat-toolbar class="title-bar" color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="clock">{{ time | date: 'hh:mm:ss a' }}</span>
        <span class="title">Presence</span>
      </mat-toolbar>
    </div>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>