<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>{{"general" | uppercase}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" (click)="unFocusAfterClick()">Home</a>
      <a mat-list-item routerLink="settings" (click)="unFocusAfterClick()">Settings</a>
    </mat-nav-list>
    <div *ngIf="this.settings && this.settings['settingsMenu'][0]['settings'][0]['value']">
      <br />
      <mat-toolbar>{{"tasks" | uppercase}}</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="tasks" (click)="unFocusAfterClick()">Tasklist</a>
        <a mat-list-item routerLink="timetask" (click)="unFocusAfterClick()">Time Management</a>
      </mat-nav-list>
    </div>
    <div *ngIf="this.settings && this.settings['settingsMenu'][0]['settings'][1]['value']">
      <br />
      <mat-toolbar>{{"fitness" | uppercase}}</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="training" (click)="unFocusAfterClick()">Training</a>
        <a mat-list-item routerLink="exercise" (click)="unFocusAfterClick()">Exercise</a>
        <a mat-list-item routerLink="session" (click)="unFocusAfterClick()">Workout Session</a>
        <a mat-list-item routerLink="weight" (click)="unFocusAfterClick()">Weight</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Presence</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>