.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: relative;
  top: 0;
  z-index: 1;
}

.title-bar {
  .clock {
    margin-left: 20px;
    margin-right: 30px;
  }
}
