@import "../../../../styles.scss";

mat-card {
  @include block;
  @extend .indentingFromBottom;
}

.show-wrapper {
  width: 100%;
  @include block;

  .show {
    font-size: 18px;
    margin-top: 2%;

    countup-timer {
      font-size: 42px;
    }
  }
}

.insert {
  margin-bottom: 2%;
}
