<mat-tab-group>
  <!-- ###################### TODAY TAB ###################### -->
  <mat-tab label="Today">
    <div class="content">
      <div class="block">
        <div class="notifications" *ngIf="timeTasksFromToday.length == 0">
          Start a new timer now!
        </div>
      </div>
      <div class="input-bottom" [ngClass]="showCreationField ? '' : 'hidden'">
        <mat-form-field class="example-form-field">
          <mat-label>Let's do it!</mat-label>
          <input matInput type="text" (keyup.enter)="createFastTimeTask($event)" #creationField />
        </mat-form-field>
      </div>
      <div class="show-wrapper">
        <div class="show">
          <countup-timer [countUpTimerConfig]="testConfig"> </countup-timer>
          <div *ngIf="this.settings.length > 0">
            <div *ngIf="
                settingsService.getSettingsValue(
                  this.settings,
                  'Show total this week'
                )
              ">
              <p>
                <span>Time week: </span>
                <span [style.color]="this.keyService.getColor('white')">
                  {{
                    timeService.formatMillisecondsToString(
                      timeTaskService.calculateTimeForCurrentWeek(timeTasks)
                    )
                  }}</span>
              </p>
            </div>
            <div *ngIf="
                settingsService.getSettingsValue(
                  this.settings,
                  'Show total today'
                )
              ">
              <p>
                <span>Time today: </span>
                <span [style.color]="this.keyService.getColor('white')">
                  {{
                    this.timeService.formatMillisecondsToString(
                      timeTaskService.calculateTimeForToday(timeTasksFromToday)
                    )
                  }}</span>
              </p>
            </div>
            <div *ngIf="
                settingsService.getSettingsValue(
                  this.settings,
                  'Show week number'
                )
              ">
              <p>
                <span>Week: </span>
                <span [style.color]="this.keyService.getColor('white')">{{
                  this.utilityService.formatToTwoDigits(
                    this.timeService.calculateCurrentWeekNumber()
                  )
                }}</span>
              </p>
            </div>
          </div>
          <div class="block" *ngIf="timeTasksFromToday.length > 1">
            <ngx-charts-pie-chart [results]="graphDataFromToday" [legend]="true" [legendTitle]="'Zeiterfassung'"
              [view]="[900, 300]" [labels]="true">
            </ngx-charts-pie-chart>
          </div>
          <div *ngIf="accumulatedTasksFromToday && accumulatedTasksFromToday.length > 1">
            <br />
            <div *ngFor="let element of accumulatedTasksFromToday">
              {{ element.value }}: {{ element.name }}
            </div>
            <br />
          </div>
        </div>
        <div>
          <div class="fixedButtons-rightbottom">
            <button class="control-buttons-gray smallToBottom" (click)="openInsertDialog()" color="primary"
              mat-mini-fab>
              <mat-icon>create</mat-icon>
            </button>
            <button class="control-buttons-gray" title="Finish" (click)="finishTimer()" color="primary" mat-mini-fab>
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="timeTasksFromToday">
          <div *ngFor="let timeElement of timeTasksFromToday">
            <div class="block low-margin smallToBottom changeField" *ngIf="selectedTimeTask == timeElement">
              <form class="example-form">
                <mat-form-field class="example-full-width" style="margin-right: 2%;">
                  <input matInput #message maxlength="50" placeholder="titel" name="shortDescription"
                    [(ngModel)]="selectedTimeTask.shortDescription" />
                  <mat-hint>{{ message.value.length }} / 50</mat-hint>
                </mat-form-field>
                <mat-form-field class="example-full-width" style="margin-right: 2%; min-width: 500px;">
                  <textarea matInput placeholder="description" name="longDescription"
                    [(ngModel)]="selectedTimeTask.longDescription"
                    (ngModelChange)="replaceWithShortcuts(selectedTimeTask)"></textarea>
                </mat-form-field>
                <div class="inlineButtons">
                  <button (click)="changeStartDate(selectedTimeTask)" style="float: right;" mat-button color="accent">
                    Start
                  </button>
                  <button (click)="changeEndDate(selectedTimeTask)" style="float: right;" mat-button color="accent">
                    End
                  </button>
                  <button (click)="saveTimeTask(selectedTimeTask)" style="float: right;" mat-button>
                    Save
                  </button>
                </div>
              </form>
            </div>
            <mat-card (click)="toggleSelection(timeElement)" class="example-card block">
              <div *ngIf="
                  this.settings &&
                  this.settings.length > 0 &&
                  settingsService.getSettingsValue(
                    this.settings,
                    'Show status color'
                  )
                ">
                <div class="card-status" [style.background-color]="getStatusColorValue(timeElement)"></div>
              </div>
              <div style="width: 70%; display: inline-block;">
                <mat-card-header style="float: left;">
                  <mat-card-title>
                    {{ timeElement.shortDescription }}
                    <div class="fontSize12" *ngIf="
                        !timeTaskService.isValid(timeElement) &&
                        timeElement == runningTimeTask
                      " [style.color]="'#ffffff'" style="margin-top: 20px;">
                      Measurement is running
                      <p>
                        @{{
                          this.timeService.formatDateToStringWithDescription(
                            timeElement.startDate,
                            'Start'
                          )
                        }}
                      </p>
                    </div>
                    <div class="fontSize12" *ngIf="
                        !timeTaskService.isValid(timeElement) &&
                        timeElement != runningTimeTask
                      " [style.color]="'#ffffff'" style="margin-top: 20px;">
                      Measurement is invalid
                      <p>
                        @{{
                          this.timeService.formatDateToStringWithDescription(
                            timeElement.startDate,
                            'Start'
                          )
                        }}
                      </p>
                    </div>
                    <div class="fontSize12" style="margin-top: 20px;" *ngIf="timeTaskService.isValid(timeElement)">
                      <div class="inline">
                        {{ toString(timeElement) }} >>
                      </div>
                      {{
                        this.timeService.formatDateToStringWithDescription(
                          timeElement.startDate,
                          'Start'
                        )
                      }}
                      <div class="inline">
                        ,
                        {{
                          this.timeService.formatDateToStringWithDescription(
                            timeElement.endDate,
                            'End'
                          )
                        }}
                      </div>
                    </div>
                  </mat-card-title>
                  <mat-card-subtitle *ngIf="
                      timeElement.longDescription && timeElement.longDescription.length > 0
                    ">
                    <ul *ngFor="
                        let point of this.utilityService.splitWithNewLine(
                          timeElement.longDescription
                        )
                      ">
                      <div *ngIf="point.length > 0">
                        <li>{{ point }}</li>
                      </div>
                      <div *ngIf="point.length == 0">{{ point }}</div>
                    </ul>
                  </mat-card-subtitle>
                </mat-card-header>
              </div>
              <div class="inlineButtons">
                <button title="Continue" (click)="continueTimeTask(timeElement)" mat-button>
                  <mat-icon>play_arrow</mat-icon>
                </button>
                <button title="Delete" (click)="removeTimeElement(timeElement)" mat-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <!-- ###################### HISTORY TAB ###################### -->
  <mat-tab label="History">
    <div class="content">
      <mat-form-field>
        <mat-label>Recorded dates</mat-label>
        <mat-select (selectionChange)="selectDate($event)">
          <mat-option *ngFor="let date of selectDistinctDates()" [value]="date">
            {{ date }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="timeTasksFromHistory">
        <div *ngIf="timeTasksFromHistory.length > 0">
          <div class="fixedButtons-rightbottom">
            <button class="control-buttons-gray" title="Delete all" (click)="this.deleteAllAvailableTimeTasks()"
              color="primary" mat-mini-fab>
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <p>
            Time:
            <span style="color: coral;">{{
              this.timeService.formatMillisecondsToString(
                timeTaskService.calculateTimeForToday(timeTasksFromHistory)
              )
            }}</span>
          </p>
        </div>
        <div class="block" *ngIf="
            accumulatedTasksFromHistory && accumulatedTasksFromHistory.length > 0
          ">
          <ngx-charts-pie-chart [results]="graphDataFromHistory" [legend]="true" [legendTitle]="'Zeiterfassung'"
            [view]="[900, 300]" [labels]="true">
          </ngx-charts-pie-chart>
        </div>
        <div *ngIf="accumulatedTasksFromHistory">
          <br />
          <div *ngFor="let element of accumulatedTasksFromHistory">
            {{ element.value }}: {{ element.name }}
          </div>
          <br />
        </div>
        <div *ngFor="let timeElement of timeTasksFromHistory">
          <mat-card [style.background-color]="this.keyService.getColor('darkGray')" class="example-card block">
            <mat-card-header style="float: left;">
              <mat-card-title>
                {{ timeElement.shortDescription }}
                <div class="fontSize12" *ngIf="!timeElement.endDate" [style.color]="'#ffffff'"
                  style="margin-top: 20px;">
                  No measurement endDate available...
                </div>
                <div class="fontSize12" style="margin-top: 20px;">
                  <div *ngIf="timeElement.endDate" style="display: inline;">
                    {{ toString(timeElement) }} >>
                  </div>
                  {{
                    this.timeService.formatDateToStringWithDescription(
                      timeElement.startDate,
                      'Start'
                    )
                  }}
                  <div *ngIf="timeElement.endDate" style="display: inline;">
                    ,
                    {{
                      this.timeService.formatDateToStringWithDescription(
                        timeElement.endDate,
                        'End'
                      )
                    }}
                  </div>
                </div>
              </mat-card-title>
              <mat-card-subtitle *ngIf="
                  timeElement.longDescription && timeElement.longDescription.length > 0
                ">
                <ul *ngFor="
                    let point of this.utilityService.splitWithNewLine(
                      timeElement.longDescription
                    )
                  ">
                  <li>{{ point }}</li>
                </ul>
              </mat-card-subtitle>
            </mat-card-header>
            <div class="inlineButtons">
              <button (click)="removeTimeElement(timeElement)" mat-button>
                Delete
              </button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>