<div class="content">
    <div>
        <div>
            <p style="font-family: 'Share Tech Mono', monospace; font-size: 50px; margin-left: 20%;">Hello Max.</p>

            <div class="grid-container" style="font-family: 'Share Tech Mono', monospace; font-size: 20px;">
                <div><a href="https://reddit.com/">reddit</a> </div>
                <div><a href="https://www.reddit.com/r/GYM/">Gym</a></div>
                <div><a href="https://www.youtube.com/watch?v=GBmVlvKZLAE">Workout Music</a></div>
                <div><a href="https://reddit.com/r/wholesomememes/">Wholesome Memes</a></div>
                <div>5</div>
                <div>6</div>
                <div><a href="https://www.youtube.com/results?search_query=Just+do+it">Just do it</a></div>
                <div>8</div>
                <div>9</div>


            </div>
        </div>
    </div>
</div>